<%= form_with(model: chirp) do |form| %>
  <% if chirp.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chirp.errors.count, "error") %> prohibited this chirp from being saved:</h2>

      <ul>
        <% chirp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if chirp.parent_chirp.present? %>
    Replying to <%= link_to "@#{chirp.parent_chirp.user.username}", user_path(chirp.parent_chirp.user) %> 
    <%= form.hidden_field :in_reply_to_chirp_id %>
  <% end %>

  <% placeholder_text = if chirp.in_reply_to_chirp_id.present?
                          "Post your reply"
                        else
                          "What's happening?!"
                        end
  %>
  <div class="mb-2" data-controller="chirps--charcount" data-chirps--charcount-max-value="280">
    <%= form.label(:body, class: "form-label visually-hidden") %>
    <%= form.textarea(:body,
      class: "form-control",
      placeholder: placeholder_text,
      'data-action': "input->chirps--charcount#update",
      'data-chirps--charcount-target': "input"
    ) %>
    <div class="progress my-2">
      <div class="progress-bar bg-success" role="progressbar" style="width: 0%" data-chirps--charcount-target="bar"></div>
    </div>
    <small class="text-muted" data-chirps--charcount-target="label">280 characters remaining</small>
  </div>

  <div class="d-flex justify-content-end">
    <% submit_button_text = if chirp.in_reply_to_chirp_id.present?
                              "Reply"
                            else
                              "Post"
                            end
    %>
    <%= form.submit(submit_button_text, class: "btn btn-primary rounded-pill") %>
  </div>
<% end %>
