<nav>
  <div class="d-flex align-items-center my-2">
    <%= link_to user_path, class: "text-decoration-none text-body mx-3" do %>
      <i class="fa-solid fa-arrow-left fs-4"></i>
    <% end %>
    <div>
      <h5 class="mb-0 fw-bold"><%= @user.display_name %></h5>
      <p><%= @user.username %></p>
    </div>
  </div>
  <ul class="nav nav-pills nav-fill m-2">
    <li class="nav-item">
      <%= link_to "Followers",
          followers_user_path(@user),
          class: "nav-link #{current_page?(followers_user_path(@user)) && 'active'}"
      %>
    </li>
    <li class="nav-item">
      <%= link_to "Following",
          following_user_path(@user),
          class: "nav-link #{current_page?(following_user_path(@user)) && 'active'}"
      %>
    </li>
  </ul>
</nav>
