<%= link_to user_path(user), id: dom_id(user), class: "list-group-item list-group-item-action py-3 px-4" do %>
  <div class="d-flex">
    <%= image_tag(user.avatar_with_fallback(48, 48), class: "rounded-circle me-3 flex-shrink-0", width: 48, height: 48) %>

    <div class="d-flex flex-column">
      <h5 class="me-1"><%= user.display_name %></h5>
      <p class="text-muted me-1">@<%= user.username %></p>
      <p class="mb-2"><%= user.bio %></p>
    </div>
  </div>
<% end %>
