<div class="container-fluid">
  <%# TODO: replace with username %>
  <% content_for :title, "#{@user.display_name} (@#{@user.username}) / Chirpy" %>


  <div class="row">
    <div class="col-2 col-lg-1 p-0">
      <%= render "shared/sidebar" %>
    </div>
    <div class="col-10 col-lg-9 p-0">
      <%# TODO: maybe put this in a partial users/_card.html.erb %>
      <div class="card">
        <div class="card-header">
          <h1><%= @user.display_name %></h1>
          <%# TODO: add chirp count cache %>
          <p><%= @user.chirps.where(in_reply_to_chirp_id: nil).count %> Chirps</p>
        </div>
        <img src="https://picsum.photos/seed/<%= @user.email_address %>/1200/400" class="img-fluid" alt="banner image">

        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h2><%= @user.display_name %></h2>
              <h3 class="text-secondary">@<%= @user.username %></h3>
            </div>
            
            <% if Current.user == @user %>
              <%= link_to 'Edit Profile', edit_user_path(Current.user.id), class: "btn btn-outline-primary rounded-pill" %>
            <% elsif Current.user.is_following?(@user) %>
              <% follow = Follow.find_by(follower: Current.user, following: @user) %>
              <%= button_to "Following", follow_path(follow), method: :delete, class: "btn btn-outline-secondary rounded-pill", data: { turbo_method: :delete } %>
            <% else %>
              <%= render "follows/form", follow: Follow.new(following: @user) %>
            <% end %>
          </div>
          <p class="card-text">
            <%= @user.bio %>
          </p>
          <p class="card-text">
            <% if @user.location.present? %>
              <span class="me-2"><i class="fa-solid fa-map-pin"></i> <%= @user.location %></span>
            <% end %>
            <span class="me-2"><i class="fa-solid fa-calendar-days"></i> Joined <%= @user.created_at.strftime("%B %Y") %></span>
          </p>
          <div class="d-flex">
            <%= link_to "#{@user.following.count} Following", following_user_path(@user), class: "me-2 text-dark" %>
            <%= link_to "#{@user.followers.count} Followers", followers_user_path(@user), class: "me-2 text-dark" %>
          </div>
        </div>

        <%= render "chirps/list_group", chirps: @user.chirps %>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-2 p-0">
      <%# TODO: right sidebar%>
    </div>
  </div>
</div>
